<section>
    <tr>
        <th>
            <i>{{localize "cogent.bioBlock.biology"}}</i>
        </th>
    </tr>
    <tr>
        <td>
            <textarea name="data.biology" rows="10">{{data.biology}}</textarea>
        </td>
    </tr>
    <tr>
        <th>
            <i>{{localize "cogent.bioBlock.behavior"}}</i>
        </th>
    </tr>
    <tr>
        <td>
            <textarea name="data.behavior" rows="10">{{data.behavior}}</textarea>
        </td>
    </tr>
</section>